.smry-w{
  display: flex;  
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.smry-info{
  display: flex;  
  justify-content: center;
}

.smry-lbl{
  font-size: 1.25rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.smry-val{
  font-size: 1.5rem;
  display: inline-block;
  margin-right: 2rem;
}

.smry-source{
  float: right;
  color: #bbb;
}

.smry-source:hover{
  color: #4183C4;
}